<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruby's Food</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="./images/cakelogo.png" style="width: 30px;">
                Ruby Grocery</a>
            <ul class="right">
                <li><a href="/"><i class="material-icons left">home</i> Home</a></li>
                <li><a href="/cart"><i class="material-icons left">shopping_cart</i>Cart</a></li>
            </ul>
        </div>
    </nav>

    <div class="section flow-text" id="details">
        <h1>Food inspect</h1>
        <table>
            <tr>
                <th>Name:</th>
                <td><%= item.itemName %></td>
            </tr>
            <tr>
                <th>Quantity:</th>
                <td><%= item.quantity %></td>
            </tr>
            <tr>
                <th>Food Group:</th>
                <td><%= item.foodGroup %></td>
            </tr>
            <tr>
                <th>Address:</th>
                <td><%= item.address %></td>
            </tr>
            <tr>
                <th>Order Date:</th>
                <td><%= item.orderDate %></td>
            </tr>
            <tr>
                <th>Ship Date:</th>
                <td><%= item.shipDate %></td>
            </tr>
            <tr>
                <th>Detailed Description:</th>
                <td><%= item.description %></td>
            </tr>
        </table>
    </div>

    <div class="section" id="controls">
        <a class="btn-large waves-effect waves-light green left modal-trigger" href="#edit">
            <i class="material-icons right">edit</i>
            Edit
        </a>
        <a class="btn-large waves-effect waves-light red right">
            <i class="material-icons right">delete</i>
            Delete
        </a>
    </div>


    <div class="modal" id="edit">

        <div class="modal-content">

            <h2>Edit item:</h2>
            <form id="updateForm">
                <div class="row">
                    <div class="input-field col s8">
                        <input type="text" id="titleInput" name="title" class="validate" data-length="32" required value="<%=item.itemName%>">
                        <label for="titleInput">Name:</label>
                    </div>
                    <div class="input-field col s4">
                        <input type="number" id="QuantityInput" name="Quantity" class="validate" min=1 max=99 value=<%= item.quantity %>>
                        <label for="QuantityInput">Quantity:</label>
                    </div>

                    <div class="input-field col s6">
                        <select type="number" id="FoodGroupInput" name="FoodGroup" required>
                            <option value="" disabled selected>Food Group</option>
                            <option value=1 <% if (item.foodId == 1) { %> selected <% } %>>Meats</option>
                            <option value=2 <% if (item.foodId == 2) { %> selected <% } %>>Fruits</option>
                            <option value=3 <% if (item.foodId == 3) { %> selected <% } %>>Vegetables</option>
                            <option value=4 <% if (item.foodId == 4) { %> selected <% } %>>Grains</option>
                            <option value=5 <% if (item.foodId == 5) { %> selected <% } %>>Dairy</option>
                            <option value=6 <% if (item.foodId == 6) { %> selected <% } %>>Pastry</option>
                            <option value=7 <% if (item.foodId == 7) { %> selected <% } %>>Beverage</option>
                            <option value=8 <% if (item.foodId == 8) { %> selected <% } %>>Other</option>
                        </select>
                        <label for="FoodGroupInput">Food Group:</label>
                    </div>

                    <div class="input-field col s6">
                        <input type="text" id="addyInput" name="addy" class="validate" data-length="50" required value = <%= item.address %>>
                        <label for="titleInput">Address:</label>
                    </div>

                    <div class="input-field col s6">
                        <input type="date" id="orderDateInput" name="orderDate" value=<%= item.orderDate %>>
                        <label for="orderDateInput">Order Date:</label>
                    </div>

                    <div class="input-field col s6">
                        <input type="date" id="shipDateInput" name="shipDate" value=<%= item.shipDate %>>
                        <label for="shipDateInput">Ship Date:</label>
                    </div>

                    <div class="input-field col s12">
                        <textarea class="materialize-textarea" id="descriptionInput"
                            name="description"><%= item.description %></textarea>
                        <label for="descriptionInput">Detailed Description:</label>
                    </div>

                </div>
            </form>
            <!-- A section for the footer of the modal -->
            <div class="modal-footer">
                <!-- Since the submit button is not within the form, it must have the form attribute specified-->
                <button class="btn waves-effect waves-light " type="submit" form="updateForm">
                    <i class="material-icons right">send</i>
                    Confirm
                </button>
                <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
            </div>

        </div>

    </div>
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Auto-initialize Materialize elements (Note - more specific initialization may be required for certain elements)-->
    <script src="/scripts/materializeAutoInit.js"></script>


    <footer class="page-footer" style="margin: 200px 0 0 0;">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Ruby Grocery</h5>
                    <p class="grey-text text-lighten-4">This website aims to help you with your purchase of neccesary,
                        ingredients however shipping may not be available to all locations. Please
                        be careful of any websites that may pose to be as us, our website advocates for dolphins.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">A link that i need to update</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 Syed Co.
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
</body>

</html>